extends ../layout

block title
  h1 Poängställning #{competition.name}

block content
  form(method='POST', action='/scores/' + competition._id, data-ajax='false')
    ul(data-role='listview')
      each section in sections
        li(data-role='fieldcontain')
          label(for=section._id): h3= section.initials
          input(type='range', name=section._id, id=section._id, data-highlight='true',
                value=scores[section._id] || 0, min='0', max='20')

block footer
  include ../includes/form-controls
