extends ../layout

block content
  form(method='POST', action=formAction, enctype='multipart/form-data', data-ajax='false')
    label(for='name') Namn:
    input(type='text', name='name', id='name', value=section.name)

    label(for='initials') Initialer:
    input(type='text', name='initials', id='initials', value=section.initials)

    label(for='color') Sektionsf채rg:
    input.color-picker(type='text', name='color', id='color', value=section.color || '#eeeeee')

    label(for='textColor') Textf채rg:
    input.color-picker(type='text', name='textColor', id='textColor', value=section.textColor || '#333333')

    label(for='alternateTextColor') Alternativ textf채rg:
    input.color-picker(type='text', name='alternateTextColor', id='alternateTextColor', value=section.alternateTextColor || '#eeeeee')

    label Sektionshelgon:

    if section.saintImageUrl
      input(type='radio', name='uploadSaintImage', id='upload-saint-image-radio', value='true')
      label(for='upload-saint-image-radio') Ladda upp ny bild

    input(type='file', name='saintImage', id='saint-image-file', accept='image/*')

    if section.saintImageUrl
      input(type='radio', name='uploadSaintImage', id='keep-saint-image-radio', value='false', checked)
      label(for='keep-saint-image-radio') Beh책ll existerande bild
      img.image-preview-form(src=section.saintImageUrl)

block foot
  include ../includes/form-controls
