<div style="background: {{color}}; color: {{textColor}};" class="sb-result-row sb-text-wrapper">
  <div class="sb-section-col">
    <img src="{{image}}">
  </div>
  <div class="sb-place-col sb-text sb-hilight">
      #{{place}}
  </div>
  <div class="sb-time-col sb-text">
    {{time}}
  </div>
  <div class="sb-score-col sb-text sb-hilight">
      {{points}}p
  </div>
</div>
