extends ../layout

block content
  form(method='POST', action='/times/' + competition.id, data-ajax='false')
    ul(data-role='listview')
      each section in sections
        li(data-role='list-divider'): span.section-initials(style='background: ' + section.color + '; color: ' + section.textColor)= section.initials
        li(data-role='fieldcontain')
          label(for=section.id+'-minutes') Minuter
          input(type='range', name=section.id + '[minutes]', id=section.id + '-minutes', data-highlight='true',
                value=(times[section.id] && times[section.id].minutes) || 0, min='0', max='9', data-section=section.id)
        li(data-role='fieldcontain')
          label(for=section.id+'-seconds') Sekunder
          input(type='range', name=section.id + '[seconds]', id=section.id + '-seconds', data-highlight='true',
                value=(times[section.id] && times[section.id].seconds) || 0, min='0', max='59', data-section=section.id)
        li(data-role='fieldcontain')
          label(for=section.id + '-disqualified') Diskad
          select.disqualified-slider(name=section.id + '[disqualified]', id=section.id + '-disqualified', 
                 data-role='slider', data-theme='c', data-track-theme='d', data-section=section.id)
            option(value='false') Nej
            if times[section.id] && times[section.id].disqualified
              option(value='true', selected) Ja
            else
              option(value='true') Ja

block foot
  include ../includes/form-controls
