<div style="background: {{color}}; color: {{textColor}};" class="sb-result-row sb-text-wrapper">
  <div class="sb-section-col">
    <img src="{{image}}">
  </div>
  <div class="sb-place-col sb-text">
    <span class="sb-hilight" style="color: {{textColor}}">
      #{{place}}
    </span>
  </div>
  <div class="sb-time-col sb-text">
    {{time}}
  </div>
  <div class="sb-score-col sb-text">
    <span class="sb-hilight" style="color: {{textColor}}">
      {{points}}p
    </span>
  </div>
</div>
