<li style="color: {{section.textColor}}, background: {{section.color}}">
  <ul class="sb-row">
    <li class="sb-place">{{section.place}}</li>
    <li class="sb-initials">{{section.initials}}</li>
    <ul class="sb-results">
      {{#each competitions}}
      <li>{{competition.time}}</li>
      <li>{{competition.score}}</li>
      {{/each}}
    </ul>
    <li class="sb-total">{{section.score}}</li>
  </ul>
</li>
