<div style="background: {{color}}; color: {{textColor}};" class="sb-result-row sb-text-wrapper">
  <div class="sb-section-col">
    <img src="{{image}}">
  </div>
  <div class="sb-place-col sb-text sb-hilight">
      #{{place}}
  </div>
  {{#each results}}
  <div class="sb-result-col sb-text">
    <span class="sb-time">
      {{time}}
    </span>
    <span class="sb-score">
      {{points}}
    </span>
  </div>
  {{/each}}
  <div class="sb-total-col sb-text sb-hilight">
      {{total}}p
  </div>
</div>
